@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&display=swap');

:root {
    --clr-text: black;
    --clr-primary: yellow;
    --clr-accent: red;

    --ff-logo: "Danfo", sans-serif;
    --ff-sans: "Montserrat", sans-serif ;
    --ff-title: "Poetsen One", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: var(--ff-sans);
    background-color: var(--clr-primary);
    color: var(--clr-text);
    font-size: 1.25rem;
}

body {
    margin: 0;
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
}

section {
    padding: 2em 1em;
}

.mb-0 {
    margin-bottom: 0;
}

/* Typography */

h1, h2, h3, h4, p {
    margin: 0;
}

h2, h3 {
    font-family: var(--ff-title);
    line-height: 1;
}

h2 {
    font-size: 3rem;
}

p {
    margin-bottom: 0.85rem;
}

.section-title-small {
    font-size: 3rem;
    display: block;
}

.text-accent {
    color: var(--clr-accent);
}

.logo {
    font-family: var(--ff-logo);
    text-align: center;
 
}

.logo a { 
    text-decoration: none;
    color: var(--clr-text);
    font-size: 5rem;
}
/* nav */

header {
    padding: 1em 0 2em;
}

nav ul{

    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

nav a {
    display: inline-block;
    padding: 0.5em;
    color: var(--clr-accent);
    text-decoration: none;
    
}

nav a:hover,
nav a:focus {
    color: var(--clr-text);
    text-decoration: underline;

}

/* buttons */

.btn-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.btn {
    padding: .75em 2.5em;
    color: var(--clr-accent);
    text-decoration: none;
    display: block;
    margin: 0.5em 0;
    border-radius: .25em;
}

.btn-primary {
    background-color: var(--clr-text);
}

.btn-primary:hover {
    background-color: var(--clr-accent);
    color: var(--clr-primary);
}

.btn-accent {
    background-color: var(--clr-accent);
    color: var(--clr-primary);
}

.btn-accent:hover {
    background-color: var(--clr-text);
    color: var(--clr-accent);
}

/* homepage */

.hero {
text-align: center;
padding: 1em;

}

.intro {
   text-align: center;
   
}

.about-us {
    background-color: var(--clr-accent);
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0;
}

.about-us-intro {
    background-image: url(../img/dumplings2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em 1em 1.5em;
    background-attachment: fixed;
}

.about-us-body {
    padding: 1.5em 1em 3em;
}

/* .order-online {
    
} */

.products {
    display: flex;
    flex-direction: column;
}

.product {
    padding: 1em;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);

}

.product__content {
    padding: 1em;
}

.product__title {
    color: var(--clr-accent);
}

footer {

    background-color: var(--clr-text);
    color: white;
}

footer a{
    color: inherit;
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.footer-nav a {
    padding: .75em;
    text-decoration: none;
}

.footer-nav a:hover {
    text-decoration: underline;    
}

.footer-social {
    list-style: none;
    display: flex;
}

